.container {
  display: flex;
  min-height: 100vh;
  background-color: #141414;
}

.sidebar {
  width: 200px; /* 기본 너비를 늘림 */
  min-width: 200px; /* 최소 너비 설정 */
  background-color: #1f1f1f;
  color: #a5a5a5;
  padding: 20px 0;
  transition: width 0.3s ease;
  overflow-y: auto; /* 세로 스크롤 추가 */
  height: 100vh; /* 전체 높이 설정 */
  position: fixed; /* 사이드바 고정 */
}

.logo {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #e50914;
  text-align: center;
  padding: 0 10px;
}

.menu {
  list-style-type: none;
  padding: 0;
}

.menu li {
  margin-bottom: 15px;
}

.menu a {
  color: #a5a5a5;
  text-decoration: none;
  font-size: 16px;
  display: flex;
  align-items: center;
  padding: 10px 20px;
  transition: color 0.3s ease;
}

.menu a:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
}

.icon {
  margin-right: 15px;
  font-size: 18px;
}

.content {
  flex: 1;
  padding: 20px;
  margin-left: 200px; /* 사이드바 너비만큼 여백 추가 */
  overflow-y: auto;
  width: calc(100% - 200px); /* 사이드바를 제외한 너비 설정 */
}
