.tabs {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  .tabs button {
    padding: 10px 20px;
    cursor: pointer;
    background-color: #232020;
    border: none;
    border-radius: 5px;
    min-width: 100px;
    white-space: nowrap;
  }
  
  .tabs button:hover {
    background-color: #e0e0e0;
  }
  
  .tabContent {
    flex-direction: column;
    margin-top: 20px;
  }